.rsc-footer {
    display: none;
  }

  .rsc-float-button{
   
    animation: heartbeat 1s infinite;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

   .rsc-os button:hover{

    cursor: pointer;
  }