/* Note:-styling of  userAvatar,userAvatarImg classes are in commonclass.css  */

.chats {
    background-color: var(--clr-primary);

}

.userchat {
    background: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: .8rem;
    padding-left: 2rem;
    padding-bottom: 10px;
    margin-top: 10px;
}


.messageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;

}

.username,
.lastmeaasage {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: var(--clr-text);

}

.lastmeaasage {
    font-size: 14px;
    color: var(--clr-text-dark);
    letter-spacing: 1px;
}


/* Hover Effect */

.userchat:hover {
    background-color: #fff;
   
    cursor: pointer;
}

.userchat:hover .userAvatar {
    background-color: #1b0f52;
    
}

.userchat:hover .username,
.userchat:hover .lastmeaasage {
    color: var(--clr-primary);
    color: #1b0f52;

}