@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
  --clr-nav: #800080;
  --clr-primary: #aac7ff;
  --clr-white:#fff;
  --clr-text:#fff;
  --clr-text-dark:#dbd6d6f1;
  --clr-primary2: aliceblue;
  --clr-message:#fff;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body{
  width: 100%;
  height: 100dvh;
  background-color: none;
  overflow: hidden;
 
}