.message__container {
    display: flex;
    background-color: transparent;
    display: flex;
    width: 90%;
    margin: 0 auto;


}

.message__container .message__wrapper {
    display: flex;
    width: 20%;
    margin-bottom: 1.5rem;
    align-items: center;
    border-radius: 8px 0;
    border-radius: 18px 0 18px 0;
    /* background: linear-gradient(75deg, rgba(163,63,254,1) 36%, rgba(223,24,240,1) 81%);  */
    background: slategray;
    word-wrap: break-word;
    padding-left: 10px;

}

.owner .message__wrapper {
    padding-left: 10px;
    width: 20%;
    /* background: linear-gradient(45deg, rgb(101, 77, 124) 36%, rgb(156, 124, 159) 81%);    */
    background: rgb(32, 52, 73);
}

.messageChat {

    max-width: 90%;
    height: fit-content;
    color: var(--clr-text);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 8px 15px;
    word-wrap: break-word;


}

.sent__time {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-text);
}

.owner {
    flex-direction: row-reverse;
}


@media (max-width : 1000px) {
   .message__container .message__wrapper {
        width: 40%;
    }
    .owner .message__wrapper{
    
    width: 40%;
    }



}


@media (max-width : 600px) {
    .message__container  .message__wrapper {
        width: 60%;
      
    }
    .owner .message__wrapper{
    
        width: 60%;
        }
}